# Dimensional Data Modeling - Week 1

This week's assignment involves working with the `actor_films` dataset. Your task is to construct a series of SQL queries and table definitions that will allow us to model the actor_films dataset in a way that facilitates efficient analysis. This involves creating new tables, defining data types, and writing queries to populate these tables with data from the actor_films dataset

## Dataset Overview
The `actor_films` dataset contains the following fields:

- `actor`: The name of the actor.
- `actorid`: A unique identifier for each actor.
- `film`: The name of the film.
- `year`: The year the film was released.
- `votes`: The number of votes the film received.
- `rating`: The rating of the film.
- `filmid`: A unique identifier for each film.

The primary key for this dataset is (`actor_id`, `film_id`).

## Assignment Tasks

In [ ]:
import os
from os.path import join, dirname
from dotenv import load_dotenv

dotenv_path = join('../.env')
load_dotenv(dotenv_path)

POSTGRES_SCHEMA = os.environ.get("POSTGRES_SCHEMA")
POSTGRES_USER = os.environ.get("POSTGRES_USER")
POSTGRES_DB = os.environ.get("POSTGRES_DB")
POSTGRES_PASSWORD = os.environ.get("POSTGRES_PASSWORD")

connection_string = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DB}"
print(connection_string)

In [ ]:
%load_ext sql

In [ ]:
# Example format
%sql $connection_string

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql

select * from actor_films limit 5;

1. **DDL for `actors` table:** Create a DDL for an `actors` table with the following fields:
    - `films`: An array of `struct` with the following fields:
		- film: The name of the film.
		- votes: The number of votes the film received.
		- rating: The rating of the film.
		- filmid: A unique identifier for each film.

    - `quality_class`: This field represents an actor's performance quality, determined by the average rating of movies of their most recent year. It's categorized as follows:
		- `star`: Average rating > 8.
		- `good`: Average rating > 7 and ≤ 8.
		- `average`: Average rating > 6 and ≤ 7.
		- `bad`: Average rating ≤ 6.
    - `is_active`: A BOOLEAN field that indicates whether an actor is currently active in the film industry (i.e., making films this year).

In [ ]:
%%sql

DROP TABLE IF EXISTS actors;
DROP TYPE film_struct;
DROP TYPE quality_classification;


CREATE TYPE quality_classification AS
ENUM ('star', 'good', 'average', 'bad');

CREATE TYPE film_struct AS (
    year INT,
    film TEXT,
    votes INT,
    rating FLOAT,
    film_id TEXT
);

CREATE TABLE IF NOT EXISTS actors (
    actor_id TEXT NOT NULL,
    actor TEXT NOT NULL,
    films film_struct[],
    quality_class quality_classification,
    is_active BOOLEAN,
    PRIMARY KEY(actor_id)
);

2. **Cumulative table generation query:** Write a query that populates the `actors` table one year at a time.

In [ ]:
%%sql


DO $$
DECLARE
    current_year INT;
BEGIN
    FOR current_year IN 1970..2021 LOOP

		INSERT INTO actors (actor_id, actor, films, quality_class, is_active)
		WITH
		    previous_actors AS (
		        SELECT
		            actor_id,
		            actor,
		            films,
		            quality_class,
		            is_active
		        FROM actors
		    ),
		    current_actors AS (
		        SELECT
		            actorid AS actor_id,
		            actor,
		            ARRAY[]::film_struct[] AS films, -- Initialize empty array for films
		            NULL::quality_classification AS quality_class, -- Placeholder
		            FALSE AS is_active -- Default value
		        FROM actor_films
		        WHERE year = current_year
		    ),
		    union_actors AS (
		        SELECT * FROM previous_actors
		        UNION ALL
		        SELECT * FROM current_actors
		    ),
		    deduplicated_actors AS (
		        SELECT DISTINCT ON (actor_id) -- Deduplicate based on actor_id
		            actor_id,
		            actor,
		            films,
		            quality_class,
		            is_active
		        FROM union_actors
		        ORDER BY actor_id, is_active DESC -- Prefer active rows if duplicates exist
		    ),
		    current_year_actor_films AS (
		        SELECT
		            af.actorid AS actor_id,
		            af.actor,
		            ARRAY_AGG(
		                ROW(
		                    af.year,
		                    af.film,
		                    af.votes,
		                    af.rating,
		                    af.filmid
		                )::film_struct
		            ) AS new_films
		        FROM actor_films af
		        WHERE af.year = current_year
		        GROUP BY af.actorid, af.actor
		    ),
		    avg_rating AS (
		        SELECT
		            actorid AS actor_id,
		            AVG(rating) AS avg_rating
		        FROM actor_films
		        WHERE year = current_year
		        GROUP BY actorid
		    )
		SELECT
		    COALESCE(d.actor_id, f.actor_id) AS actor_id,
		    COALESCE(d.actor, f.actor) AS actor,
		    ARRAY_CAT(
		        d.films,
		        ARRAY(
		            SELECT unnest(f.new_films) -- Unnest the new films
		            EXCEPT
		            SELECT unnest(d.films) -- Remove films already in the existing array
		        )
		    ) AS films, -- Merge old films with only unique new films
		    CASE
		        WHEN r.avg_rating IS NULL THEN d.quality_class -- Retain existing quality_class if no new movies
		        WHEN r.avg_rating > 8 THEN 'star'
		        WHEN r.avg_rating > 7 THEN 'good'
		        WHEN r.avg_rating > 6 THEN 'average'
		        ELSE 'bad'
		    END::quality_classification AS quality_class,
		    CASE
		        WHEN f.actor_id IS NOT NULL THEN TRUE
		        ELSE FALSE
		    END AS is_active
		FROM deduplicated_actors d
		LEFT JOIN current_year_actor_films f ON d.actor_id = f.actor_id
		LEFT JOIN avg_rating r ON d.actor_id = r.actor_id
		ON CONFLICT (actor_id) DO UPDATE
		SET
		    films = EXCLUDED.films,
		    quality_class = EXCLUDED.quality_class,
		    is_active = EXCLUDED.is_active;

    END LOOP;
END $$;

3. **DDL for `actors_history_scd` table:** Create a DDL for an `actors_history_scd` table with the following features:
    - Implements type 2 dimension modeling (i.e., includes `start_date` and `end_date` fields).
    - Tracks `quality_class` and `is_active` status for each actor in the `actors` table.

In [ ]:
%%sql

DROP TABLE IF EXISTS actors_history_scd;

CREATE TABLE IF NOT EXISTS actors_history_scd (
    actor_id TEXT NOT NULL,
    quality_class quality_classification,
    is_active BOOLEAN,
    start_date INTEGER,
    end_date INTEGER,
    active_date INTEGER
);

4. **Backfill query for `actors_history_scd`:** Write a "backfill" query that can populate the entire `actors_history_scd` table in a single query.

In [ ]:
%%sql

insert into actors_history_scd (
    actor_id,
    quality_class,
    is_active,
    start_date,
    end_date,
    active_date
)
with
unnested_films as (
  SELECT actor_id,
         UNNEST(films) as films
  FROM actors
),
unnested_grouped_films as (
  SELECT actor_id,
         max( (films::film_struct).year ) as max_year,
         min( (films::film_struct).year ) as min_year
  FROM unnested_films
  group by actor_id
),
actors_status as (
  SELECT actor_id,
         quality_class,
         is_active
  FROM actors
)
select
	ast.actor_id,
	ast.quality_class,
    ast.is_active,
    ugf.min_year as start_date,
    ugf.max_year as end_date,
    ( SELECT max((films::film_struct).year) FROM unnested_films) as active_date
from unnested_grouped_films ugf
inner join actors_status ast
	on ugf.actor_id = ast.actor_id

5. **Incremental query for `actors_history_scd`:** Write an "incremental" query that combines the previous year's SCD data with new incoming data from the `actors` table.

In [ ]:
%%sql

CREATE TYPE scd_type_film AS (
    quality_class quality_classification,
    is_active boolean,
    start_date INTEGER,
    end_date INTEGER
);

In [ ]:
%%sql

insert into actors_history_scd (
    actor_id,
    quality_class,
    is_active,
    start_date,
    end_date,
    active_date
)

WITH
last_history_scd AS (
    SELECT * FROM actors_history_scd
    WHERE active_date = :previous_year
    AND end_date = :previous_year
),
historical_scd AS (
    select
        actor_id,
        quality_class,
        is_active,
        start_date,
        end_date
    FROM actors_history_scd
    WHERE active_date = :previous_year
    AND end_date = :previous_year
),
unnested_films as (
  SELECT actor_id, actor,
         UNNEST(films) as films,
         quality_class,
         is_active
  FROM actors
),
this_films_year AS (
     SELECT
     	uf.*,
     	:current_year as active_date
     FROM unnested_films uf
     WHERE (films::film_struct).year = :current_year
),
unchanged_records AS (
     select
            ts.actor_id,
            ts.quality_class,
            ts.is_active,
            ls.start_date,
            ls.end_date
    FROM this_films_year ts
    JOIN last_history_scd ls
    ON ls.actor_id = ts.actor_id
       WHERE ts.quality_class = ls.quality_class
       AND ts.is_active = ls.is_active
),
changed_records AS (
    SELECT
            ts.actor_id, ts.actor,
            UNNEST(ARRAY[
                ROW(
                    ls.quality_class,
                    ls.is_active,
                    ls.start_date,
                    ls.end_date
                )::scd_type_film,
                ROW(
                    ts.quality_class,
                    ts.is_active,
                    ts.active_date,
                    ts.active_date
                )::scd_type_film
            ]) as records
    FROM this_films_year ts
    LEFT JOIN last_history_scd ls
    ON ls.actor_id = ts.actor_id
     WHERE (ts.quality_class <> ls.quality_class
       OR ts.is_active <> ls.is_active)
),
unnested_changed_records AS (
	 select
	    actor_id,
        (records::scd_type_film).quality_class,
        (records::scd_type_film).is_active,
        (records::scd_type_film).start_date,
        (records::scd_type_film).end_date
        FROM changed_records
),
new_records AS (
     select
        ts.actor_id,
        ts.quality_class,
        ts.is_active,
        ts.active_date AS start_date,
        ts.active_date AS end_date
     FROM this_films_year ts
     LEFT JOIN last_history_scd ls
         ON ts.actor_id = ls.actor_id
     WHERE ls.actor_id IS NULL
)

SELECT *, :current_year AS active_date FROM (
      SELECT *
      FROM historical_scd

      UNION ALL

      SELECT *
      FROM unchanged_records

      UNION ALL

      SELECT *
      FROM unnested_changed_records

      UNION ALL

      SELECT *
      FROM new_records
  ) a